<h1>Reset password</h1>
<div>
  <p-card>
        <div *ngIf="canResetPassword">
            <form [formGroup]="form" (ngSubmit)="resetPassword()">

                <input type="password" [(ngModel)]="password" pInputText placeholder="password" formControlName="password" required>
                <p-message severity="error" text=" " *ngIf="!form.controls['password'].valid">Please provide a valid password</p-message>

                <input type="password" [(ngModel)]="passwordRepeted" pInputText placeholder="Repeat password" formControlName="passwordRepeated" required>
                <p-message severity="error" text=" " *ngIf="!form.controls['passwordRepeated'].valid">Please provide a valid repeated password</p-message>

                <p-button label="Create new password" icon="pi pi-check" (click)="resetPassword()" iconPos="left"></p-button>
            </form>
        </div>
        <div *ngIf="!canResetPassword">
            Link is expired. Please reset again.
        </div>
    </p-card>
</div>
