<h1>POLITYKA PRYWATNOŚCI</h1>

<ul>
    <li> Administratorem danych osobowych Klientów zbieranych za pośrednictwem Sklepu internetowego jest Sprzedawca. </li>
    <li> Kontakt z administratorem danych możliwy jest pod adresem e-mail: biuro@myhome.shop.pl.</li>
    <li> Administrator odpowiada za sposób przetwarzania danych oraz ich bezpieczeństwo. </li>
    <li> Dane osobowe Klientów zbierane przez administratora za pośrednictwem Sklepu internetowego zbierane są w celu realizacji Umowy Sprzedaży.</li>
    <li> Odbiorcami danych osobowych Klientów Sklepu internetowego mogą być: </li>
        <ul> 
            <li>InPost - Administrator udostępnia przewoźnikowi realizującemu przesyłki na zlecenie Administratora zebrane dane osobowe Klienta, który korzysta w Sklepie internetowym ze sposobu dostawy przesyłką kurierską firmy InPost.</li>
            <li>5.2.	Serwis Przelewy24.pl - Administrator udostępnia zebrane dane osobowe Klienta, który korzysta w Sklepie internetowym ze sposobu płatności elektronicznych serwisowi Przelewy 24.pl obsługującemu powyższe płatności w Sklepie internetowym.</li>
        </ul>
    <li> Klient ma prawo dostępu do treści swoich danych oraz ich poprawiania.</li>
    <li> Podanie danych osobowych jest dobrowolne, aczkolwiek niepodanie wskazanych w Regulaminie danych osobowych niezbędnych do zawarcia Umowy Sprzedaży skutkuje brakiem możliwości zawarcia tejże umowy. </li>
    <li> Administrator zastrzega sobie prawo wprowadzenia zmian do niniejszej polityki prywatności w przypadku dalszego rozwoju lub zmian przepisów prawa. </li>
</ul>