<div class="surface-0 text-center">
    <div class="mb-3 font-bold text-2xl">
        <!-- <span class="text-900">szybko, </span> -->
        <span style="color: chocolate;"> szybko, tanio i bezpiecznie</span>
    </div>
    <!-- <div class="text-700 text-sm mb-6">Dzięki zakupom w myhome szybko udekorujesz swój dom nie rujnując porfela</div> -->
    <div class="grid">
        <div class="col-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block" style="border-radius: 10px">
                <i class="far fa-clock text-4xl" style="color: chocolate;"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Wysyłka w 12 godzin</div>
            <span class="text-700 text-sm line-height-3 hidden-xs">Produkty wysyłane są kilka razy dziennie z naszego magazynu w Gdańsku, dzięki czemu odbierzesz zamówione przedmioty w 48h, a pewnie wcześniej :).</span>
        </div>
        <div class="col-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block" style="border-radius: 10px">
                <i class="fas fa-dollar-sign text-4xl" style="color: chocolate;"></i>
            </span>
            <div class="text-900 mb-3 font-medium">Najniższa cena</div>
            <span class="text-700 text-sm line-height-3 hidden-xs">Nasze produkty nie są unikalne na świecie, ale są starannie wyselekcjonowane i w najniższej cenie</span>
        </div>
        <div class="col-4 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block" style="border-radius: 10px">
                <i class="fas fa-backward text-4xl" style="color: chocolate;"></i>
            </span>
            <div class="text-900 mb-3 font-medium">14 dni na zwrot</div>
            <span class="text-700 text-sm line-height-3 hidden-xs">Zamówione przedmioty można zwrócić w ciągu 14 dni jeśli nie spełnią Twoich oczekiwań</span>
        </div>
    </div>
</div>