:host ::ng-deep html,body {
    height:100%;
}

.productListThumbnail{
    height: 200px;
}

.productListItem:hover {
    opacity: 0.65;
    /* background:#f2f2f2; */
}

/* ========================================================= */

:host ::ng-deep {
    .p-dropdown {
        width: 14rem;
        font-weight: normal;
    }
    
    .product-name {
        font-size: 1.3rem;
        //font-weight: 700;
    }
    
    .product-description {
        margin: 0 0 1rem 0;
    }
    
    .product-category-icon {
        vertical-align: middle;
        margin-right: .5rem;
    }
    
    .product-category {
        font-weight: 600;
        vertical-align: middle;
    }
    
    .product-list-item {
        display: flex;
        align-items: center;
        padding: 1rem;
        width: 100%;
    
        img {
            width: 150px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin-right: 2rem;
        }
    
        .product-list-detail {
            flex: 1 1 0;
        }
    
        .p-rating {
            margin: 0 0 .5rem 0;
        }
    
        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: .5rem;
            align-self: flex-end;
        }
    
        .product-list-action {
            display: flex;
            flex-direction: column;
        }
    
        .p-button {
            margin-bottom: .5rem;
        }
    }
    
    .product-grid-item {
        margin: .5em;
        // border: 1px solid #dee2e6;
    
        // .product-grid-item-top,
        // .product-grid-item-bottom {
        //     display: flex;
        //     align-items: center;
        //     justify-content: space-between;
        // }
    
        img {
            width: auto;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
            margin: 2rem 0;
        }
    
        .product-grid-item-content {
            text-align: center;
        }
    
        .product-price {
            font-size: 1.5rem;
            font-weight: 600;
        }
    }
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    margin-bottom: 2rem;
}

@media screen and (max-width: 576px) {
	:host ::ng-deep .product-list-item {
		flex-direction: column;
		align-items: center;

		img {
			width: 100%;
			margin: 2rem 0;
		}

		.product-list-detail {
			text-align: center;
		}

		.product-price {
			align-self: center;
		}

		.product-list-action {
			display: flex;
			flex-direction: column;
		}

		.product-list-action {
			margin-top: 2rem;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}
	}
}

:host ::ng-deep ul {
    list-style-type: none;
  }

:host ::ng-deep .product-grid-item {
    border: none;
 }

 :host ::ng-deep .product-grid-item img {
    margin: 0.3rem 0;
 }
 
 :host ::ng-deep .product-grid-item .product-price {
    font-size: 1.0rem;
 }

 .discountStyle {

    del {
      color: rgba(red, 0.8);
      text-decoration: none;
      position: relative;
      font-size: 13px;
      display: inline-block;
      &:before {
        content: " ";
        display: inline-block;
        width: 100%;
        border-top: 2px solid rgba(rgb(255, 80, 80), 0.65);
        height: 8px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(-15deg);
      }
    }
    ins {
      color: green;
      font-size: 17px;
      text-decoration: none;
      padding-left: 0.3em;
    //   padding: 1em 1em 1em .5em;
    }
  }

  .promotionLabel{
    position: absolute; 
    top: 20px; left: 0px; 
    background-color: brown; 
    color: white; 
    font-weight: 500!important;
    padding: 5px;
    padding-right: 10px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
  }