<div style="margin-top: 0; z-index: 0;">
    <div class="grid" style="padding: 10px;">
        <div class="xl:col-6 lg:col-6 sm:col-12 md:col-12 col-12">

            <!-- <ngx-gallery [options]="galleryOptions" [images]="galleryImages" style="width: '100%';"></ngx-gallery> -->
            <p-skeleton height="22rem" width="100%"></p-skeleton>
        </div>
        <div class="xl:col-6 lg:col-6 sm:col-12 md:col-12 col-12" style="padding:15px;">
            <!-- <h3 class="product-title">{{product.Title}}</h3> -->
            <h3 class="product-title"><p-skeleton height="2rem" width="50%"></p-skeleton></h3>
            
            <div class="grid" style="padding-right: 20px;">
                <div class="col-6" style="font-weight: bold;">
                    <p-skeleton height="2rem" width="25%"></p-skeleton>
                </div>

                <div class="col-6">
                    <p-skeleton height="2rem" width="50%"></p-skeleton>
                </div>
            </div>

            <div class="grid" style="padding-right: 20px;">
                <div class="col-6" style="font-weight: bold;">
                    <p-skeleton height="2rem" width="30%"></p-skeleton>
                </div>

                <div class="col-6">
                    <p-skeleton height="2rem" width="30%"></p-skeleton>
                </div>
            </div>

            <div class="grid" style="padding-right: 20px;">
                <div class="col-6" style="font-weight: bold;">
                    <p-skeleton height="2rem" width="50%"></p-skeleton>
                </div>

                <div class="col-6">
                    <p-skeleton height="2rem" width="40%"></p-skeleton>
                </div>
            </div>
            <p class="product-description">
                <p-skeleton height="1rem" width="70%" class="m-1"></p-skeleton>
                <p-skeleton height="1rem" width="30%" class="m-1"></p-skeleton>
                <p-skeleton height="1rem" width="60%" class="m-1"></p-skeleton>

            </p>
        </div>
    </div>
</div>