<h1>REGULAMIN</h1>
<h3>DEFINICJE</h3>
1.	Konsument - osoba fizyczna dokonująca zakupów w Sklepie Internetowym, zawierająca ze Sprzedawcą umowę w ramach Sklepu, której przedmiot nie jest związany bezpośrednio z jej działalnością gospodarczą lub zawodową.<br/>
2.	Sprzedawca - osoba fizyczna wykonująca działalność pod adresem: ul. Stolema 41/10, 80-177 Gdańsk <br/>
3.	Klient - każdy podmiot dokonujący zakupów za pośrednictwem Sklepu.<br/>
4.	Przedsiębiorca - osoba fizyczna, osoba prawna i jednostka organizacyjna niebędąca osobą prawną, której odrębna ustawa przyznaje zdolność prawną, wykonująca we własnym imieniu działalność gospodarczą, która korzysta ze Sklepu.<br/>
5.	Sklep - sklep internetowy prowadzony przez Sprzedawcę pod adresem internetowym myhome.shop.pl <br/>
6.	Umowa zawarta na odległość - umowa zawarta z Klientem w ramach zorganizowanego systemu zawierania umów na odległość (w ramach Sklepu), bez jednoczesnej fizycznej obecności stron, z wyłącznym wykorzystaniem jednego lub większej liczby środków porozumiewania się na odległość do chwili zawarcia umowy włącznie.<br/>
7.	Regulamin - niniejszy regulamin Sklepu.<br/>
8.	Zamówienie - oświadczenie woli Klienta składane za pomocą Formularza Zamówienia i zmierzające bezpośrednio do zawarcia Umowy Sprzedaży Produktu lub Produktów ze Sprzedawcą.<br/>
9.	Formularz zamówienia - interaktywny formularz dostępny w Sklepie umożliwiający złożenie Zamówienia, w szczególności poprzez dodanie Produktów do Koszyka oraz określenie warunków Umowy Sprzedaży, w tym sposobu dostawy i płatności.<br/>
10.	Koszyk – element oprogramowania Sklepu, w którym widoczne są wybrane przez Klienta Produkty do zakupu, a także istnieje możliwość ustalenia i modyfikacji danych Zamówienia, w szczególności ilości produktów.<br/>
11.	Produkt - dostępna w Sklepie rzecz ruchoma będąca przedmiotem Umowy Sprzedaży między Klientem a Sprzedawcą.<br/>
12.	Umowa Sprzedaży - umowa sprzedaży Produktu zawierana albo zawarta między Klientem a Sprzedawcą za pośrednictwem Sklepu internetowego. <br/>

<h3>POSTANOWIENIA OGÓLNE</h3>
1.	Sklep internetowy dostępny pod adresem internetowym myhome.shop.pl, prowadzony jest przez Karolinę Kuc, posiadającą: adres miejsca wykonywania działalności: ul. Stolema 41/10, 80-177 Gdańsk i adres do doręczeń: ul. Stolema 41/10, 80-177 Gdańsk.<br/>
2.	Niniejszy Regulamin skierowany jest zarówno do Konsumentów, jak i do Przedsiębiorców korzystających ze Sklepu i określa zasady korzystania ze Sklepu internetowego oraz zasady i tryb zawierania Umów Sprzedaży z Klientem na odległość za pośrednictwem Sklepu.<br/>
3.	W celu korzystania ze Sklepu internetowego, w tym do składania zamówień, niezbędne są: dowolne urządzenie z dostępem do sieci Internet, aktywne konto poczty elektronicznej (e-mail).<br/>
4.	Klient może w każdym czasie uzyskać dostęp do aktualnej wersji niniejszego Regulaminu pod adresem https://www.myhome.shop.pl/regulamin<br/>
5.	Kontakt ze sprzedawcą można uzyskać pod adresem poczty elektronicznej: biuro@myhome.shop.pl<br/>
6.	Przeglądanie asortymentu Sklepu nie wymaga zakładania Konta. <br/>


<h3>ZAMAWIANIE PRODUKTÓW</h3>
1.	Składanie zamówień przez Klienta na Produkty znajdujące się w asortymencie Sklepu możliwe jest przez podanie niezbędnych danych osobowych i adresowych umożliwiających realizację Zamówienia bez zakładania konta. <br/>
2.	W celu złożenia zamówienia należy:<br/>
2.1.	wybrać Produkt będący przedmiotem Zamówienia, kliknąć przycisk „Do koszyka”, przejść w sekcję zamówień klikając w ikonę w prawym górnym rogu, a następnie kliknąć przycisk „Zrealizuj”;<br/>
2.2.	wypełnić Formularz zamówienia poprzez wpisanie danych odbiorcy Zamówienia oraz adresu, na który ma nastąpić dostawa Produktu, wybrać rodzaj przesyłki (sposób dostarczenia Produktu) oraz jeden z dostępnych sposobów płatności i w zależności od sposobu płatności, opłacić zamówienie<br/>
2.3.	kliknąć przycisk “Zamów” <br/>
2.4.	Po złożeniu Zamówienia Sprzedawca niezwłocznie potwierdza jego otrzymanie oraz jednocześnie przyjmuje Zamówienie do realizacji. Potwierdzenie otrzymania Zamówienia i jego przyjęcie do realizacji następuje poprzez przesłanie przez Sprzedawcę Klientowi stosownej wiadomości e-mail na podany w trakcie składania Zamówienia adres poczty elektronicznej Klienta. Z chwilą otrzymania przez Klienta powyższej wiadomości e-mail zostaje zawarta Umowa Sprzedaży między Klientem, a Sprzedawcą.<br/>
3.	Cena Produktu uwidoczniona na stronie Sklepu Internetowego podana jest w złotych polskich i nie zawiera podatku VAT. <br/>
<h3>PŁATNOŚCI</h3>
1.	Podczas składania zamówienia na Stronie internetowej, w koszyku Klient zobaczy łączną cenę zakupu (nie zawierającej VAT), oraz koszty transportu. Jest to całkowita cena zakupu.<br/>
2.	Klient może dokonać płatności za pomocą serwisu hotpay.pl wybierając odpowiedni bank lub za pomocą kodu BLIK.<br/>
3.	Płatności należy zrealizować bezpośrednio przy składaniu zamówienia. W prz66ypadku braku otrzymania płatności na rachunek podmiotu pośredniczącego w transakcji zamówienie nie zostanie zrealizowane.<br/>
4.	W przypadku wyboru formy płatności realizacja zamówienia rozpoczyna się po otrzymaniu należności na koncie bankowym przez Sprzedawcę za Produkt.<br/>
<h3>METODY, TERMINY I KOSZTY DOSTAWY</h3>
1.	Dostawa Produktu dostępna jest wyłącznie na terytorium Rzeczypospolitej Polskiej.<br/>
2.	Klient podczas składania zamówienia może skorzystać z następujących metod dostawy:<br/>
    &ensp; 2.1. Przesyłka kurierska firmy InPost Sp. z o.o.– cena dostawy kurierem InPost zaczyna się od 15 zł<br/>
    &emsp; 2.2. Paczkomaty firmy InPost Sp. z o.o.– cena dostawy paczkomatem zaczyna się od 12,99 zł<br/>

3.	Termin dostawy Produktu do Klienta wynosi do 10 dni roboczych. <br/>
4.	Początek biegu terminu dostawy Produktu do Klienta liczy się od dnia otrzymania należności na rachunek bankowy Sprzedawcy.<br/>
5.	Od momentu złożenia zamówienia do momentu dostawy Klient otrzyma powiadomienie drogą mailową o:<br/>
5.1.	Złożonym zamówieniu tj. zamówione Produkty oraz nr zamówienia.<br/>
5.2.	Nadaniu przesyłki, oraz nr listu przewozowego do śledzenia przesyłki.<br/>
W dalszej kolejności firma InPost Sp. z o.o. przekaże informacje Klientowi o:<br/>
5.3.	Dotarciu do Magazynu Przewoźnika z informacją o planowanym terminie dostawy.<br/>
5.4.	Dotarciu przesyłki do wybranego paczkomatu bądź kontakcie ze strony Przewoźnika o planowanym terminie dostawy w danym dniu pod wskazany adres.<br/>
<h3>REKLAMACJA I ZWROT PRODUKTU</h3>
1.	Umową Sprzedaży objęte są nowe Produkty.<br/>
2.	Podstawa i zakres odpowiedzialności Sprzedawcy względem Klienta, jeżeli sprzedany Produkt ma wadę fizyczną lub prawną (rękojmia) są określone powszechnie obowiązującymi przepisami prawa, w szczególności w Kodeksie Cywilnym.<br/>
3.	Sprzedawca obowiązany jest dostarczyć Klientowi Produkt bez wad.<br/>
4.	Reklamacja może zostać złożona przez Klienta w formie elektronicznej za pośrednictwem poczty elektronicznej na adres: biuro@myhome.shop.pl<br/>
5.	Zaleca się, aby w reklamacji zawrzeć m.in. zwięzły opis wady, okoliczności (w tym datę) jej wystąpienia, nr zamówienia, dane Klienta składającego reklamację, oraz żądanie Klienta w związku z wadą towaru. <br/>
6.	Reklamowany Produkt należy wysłać na adres: Karolina Kuc, ul. Stolema 41/10, 80-177 Gdańsk z dopiskiem „Reklamacja”.<br/>
7.	Sprzedawca ustosunkuje się do żądania reklamacyjnego niezwłocznie, nie później niż w terminie 14 dni, a jeśli nie zrobi tego w tym terminie, uważa się, że żądanie Klienta uznał za uzasadnione.<br/>
<h3>POSTANOWIENIA KOŃCOWE</h3>
1.	Umowy zawierane poprzez Sklep internetowy zawierane są w języku polskim.<br/>
2.	Sprzedawca zastrzega sobie prawo do dokonywania zmian Regulaminu z ważnych przyczyn to jest: zmiany przepisów prawa, zmiany sposobów płatności i dostaw - w zakresie, w jakim te zmiany wpływają na realizację postanowień niniejszego Regulaminu. <br/>
3.	W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie powszechnie obowiązujące przepisy prawa polskiego, w szczególności: Kodeksu cywilnego; ustawy o świadczeniu usług drogą elektroniczną; ustawy o prawach konsumenta, ustawy o ochronie danych osobowych.<br/>



