
<div *ngIf="model" [formGroup]="formGroup" style="padding-bottom: 40px;" class="mainFilters attrs">
    <p-divider> </p-divider>
    <!-- <div formArrayName ="attributes"> -->
        <label *ngIf="model?.length == 0">Brak filtrów</label>
        <div *ngFor= "let filter of model; let i='index'; let odd = odd; let even = even">
            <!-- this hide should be change to disabled fitler instead to not render -->
            <div [ngSwitch]="filter.ViewFilterType" *ngIf="!filter.Hide && 
                            filter.AttributeType != attributeTypes.numberTo && 
                            filter.AttributeType != attributeTypes.dateTo">
                <div *ngSwitchCase="attributeTypes.text" >

                    <div *ngIf ="filter.AttributeType == attributeTypes.numberFrom" style="margin-bottom: 35px;">

                        <h4>{{filter.Name}}</h4>
                        <div class="p-formgroup-inline">

                            <div class="field col-12">
                                <!-- <label for="productTitleX">{{filter.Name}}</label> -->
                                <div class="p-inputgroup">
                                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                                    <input type="text" pInputText placeholder="{{filter.Name}}*" formControlName="{{filter.Name}}">
                                </div>
                            </div>

                            <!-- <div class="grid">
                                <div class="col">
                                    <p-inputNumber placeholder="od" id="{{filter.Name}}Id" [(ngModel)]="filter.Value" formControlName ="{{filter.Name}}From"></p-inputNumber>
                                </div>
                                <div class="col">
                                    <p-inputNumber placeholder="do" (onInput)="numberToChange($event, i)" formControlName ="{{filter.Name}}To"></p-inputNumber>
                                </div>
                            </div> -->

                        </div>
                    </div>

                    <div *ngIf ="filter.AttributeType == attributeTypes.dateFrom" style="margin-bottom: 35px;">
                        <h4>{{filter.Name}}</h4>
                        <div class="field col-12" style="display: block;">
                            <div class="p-inputgroup">
                                <p-calendar [(ngModel)]="filter.dateFromDate"
                                [touchUI]="isMobile"
                                [showIcon]="true" appendTo="body" ngDefaultControl
                               [yearNavigator]="true" yearRange="1980:2030" selectionMode="single"
                               [ngModelOptions]="{standalone: true}">></p-calendar>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngSwitchCase="attributeTypes.multiSelect">

                    <div class="field col-12">
                        <div class="p-inputgroup">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span>
                                <p-multiSelect [options]="filter.ComboboxValues" [(ngModel)]="filter.SelectedValues" optionLabel="Value" display="chip" formControlName ="{{filter.Name}}"></p-multiSelect>
                                <label for="inputgroup" class="labelBold">{{filter.Name}}</label>
                            </span>
                        </div>
                    </div>
                </div>

                <div *ngSwitchCase="attributeTypes.list">

                    <div class="field-checkbox" *ngIf ="filter.AttributeType == attributeTypes.bit">
                        <!-- <p-checkbox [(ngModel)]="filter.Bit" binary="true" inputId="binary" formControlName ="{{filter.Name}}"></p-checkbox> -->
                        <p-checkbox [(ngModel)]="filter.Bit" binary="true" inputId="{{filter.Name}}" formControlName ="{{filter.Name}}"></p-checkbox>
                        <label for="{{filter.Name}}" style="width: 100%; cursor: pointer;">{{filter.Name}}</label>
                    </div>

                    <!-- <p-multiSelect [options]="filter.ComboboxValues" [(ngModel)]="filter.SelectedValues" optionLabel="Value" display="chip" formControlName ="{{filter.Name}}"></p-multiSelect> -->

                    <div *ngIf ="filter.AttributeType == attributeTypes.text" style="margin-bottom: 35px;">
                        <h4>{{filter.Name}}</h4>
                        <!-- <p-select [options]="filter.ComboboxValues" [(ngModel)]="filter.SelectedValues" optionLabel="Value" display="chip" formControlName ="{{filter.Name}}"></p-multiSelect> -->
                            <!-- (onChange)="onDropDownChange($event, filter)" -->
                        <p-dropdown [options]="filter.ComboboxValues" [(ngModel)]="filter.SelectedValue" optionLabel="Value" (onChange)="onDropDownChange($event, filter)" formControlName ="{{filter.Name}}"></p-dropdown>
                        
                        <!-- <p-multiSelect [options]="filter.ComboboxValues" [(ngModel)]="filter.SelectedValues" optionLabel="Value" display="chip" formControlName ="{{filter.Name}}"></p-multiSelect> -->
                    </div>
                    
                    <!-- <p-listbox [options]="filter.ComboboxValues" 
                                [(ngModel)]="filter.SelectedValues" 
                                [metaKeySelection]="false" 
                                [checkbox]="true" 
                                [filter]="false" 
                                [multiple]="true" 
                                optionGroupLabel = "aaaaa"
                                [showToggleAll] = "false"
                                optionLabel="Value" [listStyle]="{'max-height':'250px'}" [style]="{'width':'10rem'}"
                                formControlName ="{{filter.Name}}"
                                styleClass="listbox-filter"
                                [style]="{'width':'100%'}">
                        <ng-template let-country pTemplate="item">
                            <div class="country-item"> -->
                                <!-- <img src="assets/showcase/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + country.code.toLowerCase()" /> -->

                                <!-- <div>{{country.Value}}</div>
                            </div>
                        </ng-template>
                    </p-listbox> -->

                </div>
            </div>
            
            <p-divider *ngIf="!filter.Hide && filter.AttributeType != attributeTypes.numberTo && 
            filter.AttributeType != attributeTypes.dateTo"></p-divider>
        </div>

        <!-- <button *ngIf="model?.length != 0" style="width: 100%;" pButton type="button" label="Szukaj" (click)="searchProductsByFilters()" class="p-button-secondary bottomSticky float-right"></button> -->
</div>

<p-dialog position="top" [(visible)]="displayDialoEditFilter">
   <app-edit-filter-dialog></app-edit-filter-dialog>
</p-dialog>

